body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input, select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: crimson;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
